<Data>
  <General>
    <ShowCustomizeButtons>True</ShowCustomizeButtons>
    <ColorizePanels>True</ColorizePanels>
    <DarkerHeaders>True</DarkerHeaders>
    <DoublePinButtons>True</DoublePinButtons>
    <MainFormState>Maximized</MainFormState>
    <CurrentController>GamesController</CurrentController>
  </General>
  <PSN_Accounts>
    <AutoExpandCategories>False</AutoExpandCategories>
    <HideEmptyCategory>True</HideEmptyCategory>
    <IconsSize>Medium</IconsSize>
    <SummarySorting>Default</SummarySorting>
    <CurrentView>Table</CurrentView>
    <ShowItemInfo>True</ShowItemInfo>
    <CategoryPanelPinned>False</CategoryPanelPinned>
    <CategoryPanelExpanded>False</CategoryPanelExpanded>
    <ItemInfoPanelPinned>False</ItemInfoPanelPinned>
    <ItemInfoPanelExpanded>False</ItemInfoPanelExpanded>
    <QuickFilterPinned>False</QuickFilterPinned>
    <QuickFilterExpanded>False</QuickFilterExpanded>
    <ShowCategories>True</ShowCategories>
    <ShowCards>True</ShowCards>
    <CardsPageSize>12</CardsPageSize>
    <ShowIcons>True</ShowIcons>
    <IconsPageSize>30</IconsPageSize>
    <IconClickVariant>Card</IconClickVariant>
    <QuickFilterTextFieldOperation>Contains</QuickFilterTextFieldOperation>
    <TableFields>
      <Field>Avatar</Field>
      <Field>Name</Field>
      <Field>Login</Field>
      <Field>Country</Field>
      <Field>PSNProfilesLink</Field>
      <Field>StrategeLink</Field>
      <Field>DefaultAccount</Field>
    </TableFields>
    <SummaryFields>
      <Field>Avatar</Field>
      <Field>Name</Field>
      <Field>Login</Field>
      <Field>Country</Field>
      <Field>PSNProfilesLink</Field>
      <Field>StrategeLink</Field>
      <Field>DefaultAccount</Field>
    </SummaryFields>
    <CategoriesFields>
      <Field>Avatar</Field>
      <Field>Name</Field>
      <Field>Login</Field>
      <Field>Country</Field>
      <Field>PSNProfilesLink</Field>
      <Field>StrategeLink</Field>
      <Field>DefaultAccount</Field>
    </CategoriesFields>
    <QuickfilterFields>
      <Field>Avatar</Field>
      <Field>Name</Field>
      <Field>Login</Field>
      <Field>Country</Field>
      <Field>PSNProfilesLink</Field>
      <Field>StrategeLink</Field>
      <Field>DefaultAccount</Field>
    </QuickfilterFields>
    <TextfilterFields>
      <Field>Avatar</Field>
      <Field>Name</Field>
      <Field>Login</Field>
      <Field>Country</Field>
      <Field>PSNProfilesLink</Field>
      <Field>StrategeLink</Field>
      <Field>DefaultAccount</Field>
    </TextfilterFields>
    <Filter>
      <FilterGroups>
        <FilterConcat>AND</FilterConcat>
      </FilterGroups>
    </Filter>
    <ExportSettings>
      <CategoryName>All Items</CategoryName>
      <Format>Html</Format>
      <Filter>
        <FilterGroups>
          <FilterConcat>AND</FilterConcat>
        </FilterGroups>
      </Filter>
      <HTML>
        <FileName />
        <Fields>
          <Field>Avatar</Field>
          <Field>Name</Field>
          <Field>Login</Field>
          <Field>Country</Field>
          <Field>PSNProfilesLink</Field>
          <Field>StrategeLink</Field>
          <Field>DefaultAccount</Field>
        </Fields>
        <Summary>Exported</Summary>
        <IncludeExportParams>False</IncludeExportParams>
        <HtmlSorting />
        <ZeroSummary>True</ZeroSummary>
      </HTML>
      <XML>
        <FileName />
        <Indent>True</Indent>
      </XML>
      <Text>
        <FileName />
        <Fields />
        <Summary>Exported</Summary>
        <IncludeExportParams>False</IncludeExportParams>
        <Grouping />
      </Text>
    </ExportSettings>
  </PSN_Accounts>
  <Consoles>
    <AutoExpandCategories>False</AutoExpandCategories>
    <HideEmptyCategory>True</HideEmptyCategory>
    <IconsSize>Medium</IconsSize>
    <SummarySorting>Default</SummarySorting>
    <CurrentView>Table</CurrentView>
    <ShowItemInfo>True</ShowItemInfo>
    <CategoryPanelPinned>True</CategoryPanelPinned>
    <CategoryPanelExpanded>False</CategoryPanelExpanded>
    <ItemInfoPanelPinned>True</ItemInfoPanelPinned>
    <ItemInfoPanelExpanded>False</ItemInfoPanelExpanded>
    <QuickFilterPinned>False</QuickFilterPinned>
    <QuickFilterExpanded>False</QuickFilterExpanded>
    <ShowCategories>True</ShowCategories>
    <ShowCards>True</ShowCards>
    <CardsPageSize>12</CardsPageSize>
    <ShowIcons>True</ShowIcons>
    <IconsPageSize>30</IconsPageSize>
    <IconClickVariant>Card</IconClickVariant>
    <QuickFilterTextFieldOperation>Contains</QuickFilterTextFieldOperation>
    <Sortings>
      <Sorting>
        <Field>Name</Field>
        <SortOrder>asc</SortOrder>
      </Sorting>
    </Sortings>
    <TableFields>
      <Field>Icon</Field>
      <Field>Name</Field>
      <Field>Generation</Field>
      <Field>Model</Field>
    </TableFields>
    <QuickfilterFields>
      <Field>Generation</Field>
      <Field>Model</Field>
      <Field>Firmware</Field>
    </QuickfilterFields>
    <TextfilterFields>
      <Field>Name</Field>
    </TextfilterFields>
    <Filter>
      <FilterGroups>
        <FilterGroup>
          <SimpleFilter>
            <SimpleFilter>
              <PSConsole>
                <Name />
                <Id>009a652e-ac05-4851-941f-2d3a09a4d530</Id>
                <Generation>PS4</Generation>
                <Model>Unknown</Model>
                <Firmware>Official</Firmware>
              </PSConsole>
              <FilterRule />
              <FilterConcat>AND</FilterConcat>
            </SimpleFilter>
            <SimpleFilter>
              <PSConsole>
                <Name />
                <Id>5dad7b7d-8b02-4235-b231-b33838de8810</Id>
                <Generation>PS4</Generation>
                <Model>Unknown</Model>
                <Firmware>Official</Firmware>
              </PSConsole>
              <FilterRule />
              <FilterConcat>OR</FilterConcat>
            </SimpleFilter>
            <FilterConcat>AND</FilterConcat>
          </SimpleFilter>
          <FilterConcat>AND</FilterConcat>
        </FilterGroup>
        <FilterConcat>AND</FilterConcat>
      </FilterGroups>
    </Filter>
    <ExportSettings>
      <CategoryName>All Items</CategoryName>
      <Format>Html</Format>
      <Filter>
        <FilterGroups>
          <FilterGroup>
            <SimpleFilter>
              <SimpleFilter>
                <PSConsole>
                  <Name />
                  <Id>b7c5224b-6ee6-4a18-89de-55b491ee0bba</Id>
                  <Generation>PS4</Generation>
                  <Model>Unknown</Model>
                  <Firmware>Official</Firmware>
                </PSConsole>
                <FilterRule />
                <FilterConcat>AND</FilterConcat>
              </SimpleFilter>
              <SimpleFilter>
                <PSConsole>
                  <Name />
                  <Id>1a4bbdbc-3567-4d8a-90e5-1c7e87f56119</Id>
                  <Generation>PS4</Generation>
                  <Model>Unknown</Model>
                  <Firmware>Official</Firmware>
                </PSConsole>
                <FilterRule />
                <FilterConcat>OR</FilterConcat>
              </SimpleFilter>
              <FilterConcat>AND</FilterConcat>
            </SimpleFilter>
            <FilterConcat>AND</FilterConcat>
          </FilterGroup>
          <FilterConcat>AND</FilterConcat>
        </FilterGroups>
      </Filter>
      <HTML>
        <FileName>C:\Users\aoxid\Desktop\Consoles.html</FileName>
        <Fields>
          <Field>Icon</Field>
          <Field>Name</Field>
          <Field>Generation</Field>
          <Field>Model</Field>
          <Field>Firmware</Field>
          <Field>Storages</Field>
        </Fields>
        <Summary>Full</Summary>
        <IncludeExportParams>False</IncludeExportParams>
        <HtmlSorting />
        <ZeroSummary>True</ZeroSummary>
      </HTML>
      <XML>
        <FileName />
        <Indent>True</Indent>
      </XML>
      <Text>
        <FileName>C:\Users\aoxid\Desktop\Consoles.txt</FileName>
        <Fields />
        <Summary>Exported</Summary>
        <IncludeExportParams>True</IncludeExportParams>
        <Grouping />
      </Text>
    </ExportSettings>
  </Consoles>
  <Games>
    <AutoExpandCategories>False</AutoExpandCategories>
    <HideEmptyCategory>True</HideEmptyCategory>
    <IconsSize>Medium</IconsSize>
    <SummarySorting>Default</SummarySorting>
    <CurrentView>Table</CurrentView>
    <ShowItemInfo>True</ShowItemInfo>
    <CategoryPanelPinned>False</CategoryPanelPinned>
    <CategoryPanelExpanded>False</CategoryPanelExpanded>
    <ItemInfoPanelPinned>True</ItemInfoPanelPinned>
    <ItemInfoPanelExpanded>False</ItemInfoPanelExpanded>
    <QuickFilterPinned>False</QuickFilterPinned>
    <QuickFilterExpanded>False</QuickFilterExpanded>
    <ShowCategories>True</ShowCategories>
    <ShowCards>True</ShowCards>
    <CardsPageSize>12</CardsPageSize>
    <ShowIcons>True</ShowIcons>
    <IconsPageSize>30</IconsPageSize>
    <IconClickVariant>Card</IconClickVariant>
    <QuickFilterTextFieldOperation>Contains</QuickFilterTextFieldOperation>
    <Sortings>
      <Sorting>
        <Field>Name</Field>
        <SortOrder>asc</SortOrder>
      </Sorting>
    </Sortings>
    <TableFields>
      <Field>Image</Field>
      <Field>Name</Field>
      <Field>Platform</Field>
      <Field>Owner</Field>
      <Field>Licensed</Field>
      <Field>Region</Field>
      <Field>Language</Field>
      <Field>Source</Field>
      <Field>FullGenre</Field>
      <Field>Year</Field>
      <Field>CriticScore</Field>
      <Field>Pegi</Field>
      <Field>Difficult</Field>
      <Field>CompleteTime</Field>
      <Field>Progress</Field>
      <Field>FullPlatinum</Field>
      <Field>FullGold</Field>
      <Field>FullSilver</Field>
      <Field>FullBronze</Field>
      <Field>StrategeLink</Field>
    </TableFields>
    <SummaryFields>
      <Field>Platform</Field>
      <Field>Source</Field>
      <Field>Region</Field>
      <Field>Language</Field>
      <Field>Format</Field>
      <Field>Status</Field>
      <Field>Pegi</Field>
      <Field>Year</Field>
      <Field>Developer</Field>
      <Field>Publisher</Field>
      <Field>Difficult</Field>
      <Field>CompleteTime</Field>
      <Field>TrophysetAccess</Field>
    </SummaryFields>
    <CategoriesFields>
      <Field>Tags</Field>
    </CategoriesFields>
    <QuickfilterFields>
      <Field>Licensed</Field>
      <Field>Source</Field>
      <Field>Status</Field>
      <Field>Progress</Field>
      <Field>Platform</Field>
      <Field>Format</Field>
      <Field>ScreenView</Field>
      <Field>Genre</Field>
      <Field>TrophysetAccess</Field>
      <Field>AvailablePlatinum</Field>
      <Field>Difficult</Field>
      <Field>CompleteTime</Field>
      <Field>Pegi</Field>
      <Field>Year</Field>
    </QuickfilterFields>
    <TextfilterFields>
      <Field>Name</Field>
      <Field>Series</Field>
    </TextfilterFields>
    <Filter>
      <FilterGroups>
        <FilterGroup>
          <SimpleFilter>
            <SimpleFilter>
              <Game>
                <Name />
                <Id>79ad6026-9eff-49e3-a48c-358d5853c0f2</Id>
                <Region>EU</Region>
                <Language>RUS</Language>
                <Platform>PS4</Platform>
                <Format>PS4</Format>
                <Verified>False</Verified>
                <Licensed>True</Licensed>
                <Screen>??</Screen>
                <Year>-1</Year>
                <PEGI>-1</PEGI>
                <CriticScore>0</CriticScore>
                <TrophysetAccess>Ordinary</TrophysetAccess>
                <Difficult>??</Difficult>
                <CompleteTime>-1</CompleteTime>
              </Game>
              <FilterRule />
              <FilterConcat>AND</FilterConcat>
            </SimpleFilter>
            <SimpleFilter>
              <Game>
                <Name />
                <Id>6d84d9dc-cd31-46c8-a7ae-5aa345605a90</Id>
                <Region>EU</Region>
                <Language>RUS</Language>
                <Platform>PS4</Platform>
                <Format>PS4</Format>
                <Verified>False</Verified>
                <Licensed>True</Licensed>
                <Screen>??</Screen>
                <Year>-1</Year>
                <PEGI>-1</PEGI>
                <CriticScore>0</CriticScore>
                <TrophysetAccess>Ordinary</TrophysetAccess>
                <Difficult>??</Difficult>
                <CompleteTime>-1</CompleteTime>
              </Game>
              <FilterRule />
              <FilterConcat>OR</FilterConcat>
            </SimpleFilter>
            <FilterConcat>AND</FilterConcat>
          </SimpleFilter>
          <FilterConcat>AND</FilterConcat>
        </FilterGroup>
        <FilterConcat>AND</FilterConcat>
      </FilterGroups>
    </Filter>
    <ExportSettings>
      <CategoryName>All Games</CategoryName>
      <Format>Xml</Format>
      <Filter>
        <FilterGroups>
          <FilterGroup>
            <SimpleFilter>
              <SimpleFilter>
                <Game>
                  <Name />
                  <Id>ce973b5b-586f-4b5d-a238-71814c4de38a</Id>
                  <Region>EU</Region>
                  <Language>RUS</Language>
                  <Platform>PS4</Platform>
                  <Format>PS4</Format>
                  <Verified>False</Verified>
                  <Licensed>True</Licensed>
                  <Screen>??</Screen>
                  <Year>-1</Year>
                  <PEGI>-1</PEGI>
                  <CriticScore>0</CriticScore>
                  <TrophysetAccess>Ordinary</TrophysetAccess>
                  <Difficult>??</Difficult>
                  <CompleteTime>-1</CompleteTime>
                </Game>
                <FilterRule />
                <FilterConcat>AND</FilterConcat>
              </SimpleFilter>
              <SimpleFilter>
                <Game>
                  <Name />
                  <Id>4e13aeb6-1c44-432c-9d1d-507b5e323c03</Id>
                  <Region>EU</Region>
                  <Language>RUS</Language>
                  <Platform>PS4</Platform>
                  <Format>PS4</Format>
                  <Verified>False</Verified>
                  <Licensed>True</Licensed>
                  <Screen>??</Screen>
                  <Year>-1</Year>
                  <PEGI>-1</PEGI>
                  <CriticScore>0</CriticScore>
                  <TrophysetAccess>Ordinary</TrophysetAccess>
                  <Difficult>??</Difficult>
                  <CompleteTime>-1</CompleteTime>
                </Game>
                <FilterRule />
                <FilterConcat>OR</FilterConcat>
              </SimpleFilter>
              <FilterConcat>AND</FilterConcat>
            </SimpleFilter>
            <FilterConcat>AND</FilterConcat>
          </FilterGroup>
          <FilterConcat>AND</FilterConcat>
        </FilterGroups>
      </Filter>
      <HTML>
        <FileName>C:\Users\aoxid\Desktop\Games.html</FileName>
        <Fields>
          <Field>Image</Field>
          <Field>Name</Field>
          <Field>Platform</Field>
          <Field>Licensed</Field>
          <Field>Region</Field>
          <Field>Language</Field>
          <Field>Source</Field>
          <Field>FullGenre</Field>
          <Field>Year</Field>
          <Field>CriticScore</Field>
          <Field>Pegi</Field>
          <Field>Difficult</Field>
          <Field>CompleteTime</Field>
          <Field>Progress</Field>
          <Field>FullPlatinum</Field>
          <Field>FullGold</Field>
          <Field>FullSilver</Field>
          <Field>FullBronze</Field>
        </Fields>
        <Summary>Exported</Summary>
        <IncludeExportParams>False</IncludeExportParams>
        <HtmlSorting />
        <ZeroSummary>True</ZeroSummary>
      </HTML>
      <XML>
        <FileName>C:\Users\aoxid\Desktop\Games.xml</FileName>
        <Indent>True</Indent>
      </XML>
      <Text>
        <FileName>C:\Users\aoxid\Desktop\Games.txt</FileName>
        <Fields />
        <Summary>Exported</Summary>
        <IncludeExportParams>False</IncludeExportParams>
        <Grouping />
      </Text>
    </ExportSettings>
  </Games>
</Data>